
.app{
margin-left:auto;
margin-right:auto;
}
.header__text{
color:burlywood;
text-align: center;
text-transform: uppercase;
font-size: 60px;
text-shadow: 2px 2px #818181;
    
  
}

.frame {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 350px;
  width:450px;
  margin: 5em 0;
}

.card {
  border-radius: 2em;
  padding: 0 1em;
  background: rgb(182, 170, 166);
}
